.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.button-primary {
  background-color: $primary-color;
  color: white;
  border: none;
}

.button-secondary {
  background-color: $secondary-color;
  color: white;
  border: none;
}

.button:hover {
  transform: scale(1.05);
}

// Responsive styles for buttons
@media screen and (max-width: 480px) {
  .button {
      padding: 8px 16px;
  }
}

  