.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeInDown 1s ease-in-out;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .error-code {
      font-size: 8rem;
      font-weight: bold;
      color: white;
      position: relative;
      perspective: 1000px;

      &::before,
      &::after {
          content: "404";
          position: absolute;
          top: 0;
          left: 0;
          transform: translateZ(25px);
          animation: rotateNumber 5s linear infinite;
      }

      &::after {
          color: rgba(255, 0, 0, 0.6);
          animation: rotateNumber 5s linear infinite reverse;
      }
  }

  .error-message {
      font-size: 1.5rem;
      color: $text-color;
      margin-top: 10px;
  }

  .home-link {
      margin-top: 20px;
      display: inline-block;
      text-decoration: none;
      color: $primary-color;
      border: 1px solid $primary-color;
      padding: 10px 20px;
      border-radius: 5px;
      @include transition(transform, 0.3s, background-color, 0.3s, color, 0.3s);

      &:hover {
          transform: scale(1.1);
          background-color: $primary-color;
          color: white;
      }
  }

  .background-bubbles {
      width: 100%;
      display: flex;
      justify-content: center;
      animation: moveBubbles 5s linear infinite;
      margin-top: 20px;

      .bubble {
          width: 60px;
          height: 60px;
          background-color: rgba(0, 123, 255, 0.2);
          border-radius: 50%;
          animation: scaleBubble 3s ease-in-out infinite;
      }
  }
}

@keyframes fadeInDown {
  0% {
      transform: translate(-50%, -60%);
      opacity: 0;
  }
  100% {
      transform: translate(-50%, -50%);
      opacity: 1;
  }
}

@keyframes rotateNumber {
  0% {
      transform: translateZ(25px) rotateY(0deg);
  }
  100% {
      transform: translateZ(25px) rotateY(360deg);
  }
}

@keyframes moveBubbles {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-20px);
  }
  100% {
      transform: translateY(0);
  }
}

@keyframes scaleBubble {
  0%, 100% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.3);
  }
}
