/* Overall layout styles */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
